parameters:
	ignoreErrors:
		-
			message: '#^Variable \$queryString on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: src/Util.php
